
//************Variables***************
$page-background: #c3cfe2;
$text-background: #fff;
$first-text-color: rgb(105, 103, 103);
$footer-background-color: #686de0;

//***********Body-section***************
body{
    background-color: $page-background;
    margin: 100px;
    display: flex;
    align-content: center;
}


//************Text-section***************
#text-section{
    position: relative;
    font-size: 36px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: $first-text-color;
    background-color: $text-background;
    padding: 70px;
    text-align: left;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

//************Profilepic-section***************
img
{
    position: absolute;
    top: 580px;
    right: 300px;
    border-radius: 80%;
    width: 150px;
    height: 150px;
    border: 8px solid #fff;
}

//************Footer-section***************
#footer-section
{
 
    background-color: $footer-background-color;
    padding: 70px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
    
#footer-text
{
        text-align: center;
        color: #fff;
        padding: 40px;
        font-weight: bold;
        font-size: 28px;;
}

#footer-website
{
    text-align: center;
        color: #8889b3;
        font-size: 22px;
}


/// ENTER MEDIA QUIERIE//
